@import url("//hello.myfonts.net/count/264687");

@font-face {
	font-family: 'nimbus';
	src: url('/_beta/fonts/nimbus.eot');
	src: url('/_beta/fonts/nimbus.eot?#iefix') format('embedded-opentype'),
		 url('/_beta/fonts/nimbus.woff') format('woff'),
		 url('/_beta/fonts/nimbus.ttf') format('truetype');
}

/*@font-face {
    font-family: 'veneer';
    src: url('/_beta/fonts/veneer-webfont.eot');
    src: url('/_beta/fonts/veneer-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_beta/fonts/veneer-webfont.woff') format('woff'),
         url('/_beta/fonts/veneer-webfont.ttf') format('truetype'),
         url('/_beta/fonts/veneer-webfont.svg#veneerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
    font-family: 'lobster';
    src: url('/_beta/fonts/lobster_1.4-webfont.eot');
    src: url('/_beta/fonts/lobster_1.4-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_beta/fonts/lobster_1.4-webfont.woff') format('woff'),
         url('/_beta/fonts/lobster_1.4-webfont.ttf') format('truetype'),
         url('/_beta/fonts/lobster_1.4-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

