/* Carousel buttons */
.carousel-control {z-index: 10000; width: 40px; font-family: Georgia, "Times New Roman", Times, serif; text-decoration: none; line-height: 40px; padding: 0; font-size: 17px; font-style: italic; color: #ffffff; height: 40px; border-radius: 0; border: none; opacity: 1;}
	.carousel-control.right {background: #33d3a7 url(../../images/global/car-arrow-right.gif) right 0 no-repeat; outline: none;}
	.carousel-control.left {background: #33d3a7 url(../../images/global/car-arrow-left.gif) left 0 no-repeat; outline: none;}
	
/* Overwrite hidden items */
#content.recipes #recipe_carousel .cntr #feed_container .item {display: block;}
#content.recipes #recipe_carousel .cntr .carousel-inner {overflow: visible;}


/* Position buttons for home feed */	
#content.recipes #recipe_carousel .carousel-control {top: 220px; z-index: 1000;}
	#content.recipes #recipe_carousel .carousel-control.left {left: 0;}
	#content.recipes #recipe_carousel .carousel-control.right {right: 20px;}	

#content.recipes #recipe_carousel .cntr #feed_mask {width: 300px; overflow: hidden; padding: 10px; margin: -10px 0 0 0; position: relative;}	
/* Width is 300 * slides + 80px; */
#content.recipes #recipe_carousel .cntr #feed_container {position: absolute; left: -1040px;}

/* Responsive slide numbers */
#content.recipes #recipe_carousel .item {position: absolute;}
#content.recipes #recipe_carousel .panel1 {width: 100%; opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
#content.recipes #recipe_carousel .panel1.left2  {left: -1440px;}
#content.recipes #recipe_carousel .panel1.left1  {left: 0;}
#content.recipes #recipe_carousel .panel1.active {width: 100%; left: 1040px; opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";}
#content.recipes #recipe_carousel .panel1.right1 {}
#content.recipes #recipe_carousel .panel1.right2 {}

#content.recipes #recipe_carousel .panel2 {width: 100%; opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
#content.recipes #recipe_carousel .panel2.left2  {}
#content.recipes #recipe_carousel .panel2.left1  {left: 0;}
#content.recipes #recipe_carousel .panel2.active {width: 100%; left: 1040px; opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";}
#content.recipes #recipe_carousel .panel2.right1 {left: 2080px;}
#content.recipes #recipe_carousel .panel2.right2 {}

#content.recipes #recipe_carousel .panel3 {width: 100%; opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
#content.recipes #recipe_carousel .panel3.left2  {}
#content.recipes #recipe_carousel .panel3.left1  {}
#content.recipes #recipe_carousel .panel3.active {width: 100%; left: 1040px; opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";}
#content.recipes #recipe_carousel .panel3.right1 {left: 2080px;}
#content.recipes #recipe_carousel .panel3.right2 {left: 3000px;}

#carousel-nav {display: none;}
#recipe_carousel section.grid9 .col1 {display: none;}
#recipe_carousel section.grid9 .col2 {display: block; width: 270px; margin-left: 15px;}
#recipe_carousel section.grid9 .col3 {display: none;}
#content.recipes #recipe_carousel #feed_mask .item article.col2 .heading {margin-top: 0;}

@media only screen and (min-width: 480px){ 

	
	#content.recipes #recipe_carousel .cntr #feed_mask {width: 480px; overflow: hidden; padding: 10px;}
	/* Width is 700 * slides + 80px; */
	#content.recipes #recipe_carousel .cntr #feed_container {width: 1480px;}
	
	/* Position buttons for home feed */	
	#content.recipes #recipe_carousel .carousel-control {top: 180px;}
		#content.recipes #recipe_carousel .carousel-control.left {left: 10px;}
		#content.recipes #recipe_carousel .carousel-control.right {right: 30px;}
		
	#recipe_carousel section.grid9 .col1 {display: none;}
	#recipe_carousel section.grid9 .col2 {display: block; width: 220px; margin-left: 0;}
	#recipe_carousel section.grid9 .col3 {display: block; width: 220px; margin-left: 30px;}
	#content.recipes #recipe_carousel #feed_mask .item article.col2 .heading {margin-top: 0;}
}
				
@media only screen and (min-width: 700px){ 

	/* Top carousel */
	#content.recipes #recipe_carousel {margin: 0 0 30px 0;}
		
	#content.recipes #recipe_carousel .cntr #feed_mask {width: 700px; overflow: hidden; padding: 10px; margin: 0 0 0 -10px;}
	/* Width is 700 * slides + 80px; */
	#content.recipes #recipe_carousel .cntr #feed_container {width: 2180px; margin: 0 0 0 10px;}
	
	/* Slide animations */
	#content.recipes #recipe_carousel .panel1 {}
	#content.recipes #recipe_carousel .panel1.active {}

	#content.recipes #recipe_carousel .panel2 {}
	#content.recipes #recipe_carousel .panel2.active {}
	
	/* Position buttons for home feed */	
	#content.recipes #recipe_carousel .carousel-control {top: 180px;}
		#content.recipes #recipe_carousel .carousel-control.left {left: 20px;}
		#content.recipes #recipe_carousel .carousel-control.right {right: 20px;}
		
		
	/* Responsive slide numbers */
	#content.recipes #recipe_carousel .item {position: absolute;}
	#content.recipes #recipe_carousel .panel1 {width: 100%; opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
	#content.recipes #recipe_carousel .panel1.left2  {left: -1440px;}
	#content.recipes #recipe_carousel .panel1.left1  {left: 0;}
	#content.recipes #recipe_carousel .panel1.active {width: 100%; left: 1040px; opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";}
	#content.recipes #recipe_carousel .panel1.right1 {}
	#content.recipes #recipe_carousel .panel1.right2 {}
	
	#content.recipes #recipe_carousel .panel2 {width: 100%; opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
	#content.recipes #recipe_carousel .panel2.left2  {}
	#content.recipes #recipe_carousel .panel2.left1  {left: 0;}
	#content.recipes #recipe_carousel .panel2.active {width: 100%; left: 1040px; opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";}
	#content.recipes #recipe_carousel .panel2.right1 {left: 2080px;}
	#content.recipes #recipe_carousel .panel2.right2 {}
	
	#content.recipes #recipe_carousel .panel3 {width: 100%; opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
	#content.recipes #recipe_carousel .panel3.left2  {}
	#content.recipes #recipe_carousel .panel3.left1  {}
	#content.recipes #recipe_carousel .panel3.active {width: 100%; left: 1040px; opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";}
	#content.recipes #recipe_carousel .panel3.right1 {left: 2080px;}
	#content.recipes #recipe_carousel .panel3.right2 {left: 3000px;}
	
	#carousel-nav {display: block;}
	#recipe_carousel section.grid9 .col1 {display: block;}
	#recipe_carousel section.grid9 .col2 {display: block; width: 220px;}
	#recipe_carousel section.grid9 .col3 {display: block; width: 220px; margin-left: 0;}
	#content.recipes #recipe_carousel #feed_mask .item article.col2 .heading {margin-top: 0;}
	
}

@media only screen and (min-width: 960px){  
	
	#content.recipes #recipe_carousel .cntr #feed_mask {width: 940px; overflow: hidden; padding: 0; margin-left: -10px;}
	/* Width is 940 * slides + 80px; */
	#content.recipes #recipe_carousel .cntr #feed_container {width: 3060px; height: 390px;}
	
	/* Slide animations */
	#content.recipes #recipe_carousel .panel1 {opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
	#content.recipes #recipe_carousel .panel1.active {opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";}

	#content.recipes #recipe_carousel .panel2 {opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
	#content.recipes #recipe_carousel .panel2.active {opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";}
	
	#content.recipes #recipe_carousel .panel3 {opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; }
	#content.recipes #recipe_carousel .panel3.active {opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";}
	
	/* Position buttons for home feed */	
	#content.recipes #recipe_carousel .carousel-control {top: 195px;}
		#content.recipes #recipe_carousel .carousel-control.left {left: 20px}
		#content.recipes #recipe_carousel .carousel-control.right {right: 10px;}
		
		#content.recipes #recipe_carousel #feed_container .slide {float: left; height: 390px; width: 940px;}
		
	/* Responsive slide numbers */
	#content.recipes #recipe_carousel .item {position: absolute;}
	#content.recipes #recipe_carousel .panel1 {width: 100%; opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
	#content.recipes #recipe_carousel .panel1.left2  {left: -1440px;}
	#content.recipes #recipe_carousel .panel1.left1  {left: 0;}
	#content.recipes #recipe_carousel .panel1.active {width: 100%; left: 1040px; opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";}
	#content.recipes #recipe_carousel .panel1.right1 {}
	#content.recipes #recipe_carousel .panel1.right2 {}
	
	#content.recipes #recipe_carousel .panel2 {width: 100%; opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
	#content.recipes #recipe_carousel .panel2.left2  {}
	#content.recipes #recipe_carousel .panel2.left1  {left: 0;}
	#content.recipes #recipe_carousel .panel2.active {width: 100%; left: 1040px; opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";}
	#content.recipes #recipe_carousel .panel2.right1 {left: 2080px;}
	#content.recipes #recipe_carousel .panel2.right2 {}
	
	#content.recipes #recipe_carousel .panel3 {width: 100%; opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
	#content.recipes #recipe_carousel .panel3.left2  {}
	#content.recipes #recipe_carousel .panel3.left1  {}
	#content.recipes #recipe_carousel .panel3.active {width: 100%; left: 1040px; opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";}
	#content.recipes #recipe_carousel .panel3.right1 {left: 2080px;}
	#content.recipes #recipe_carousel .panel3.right2 {left: 3000px;}
	
	#recipe_carousel section.grid9 .col1 {display: block;}
	#recipe_carousel section.grid9 .col2 {display: block; width: 304px;}
	#recipe_carousel section.grid9 .col3 {display: block; width: 304px; margin-left: 0;}
	#content.recipes #recipe_carousel #feed_mask .item article.col2 .heading {margin-top: 0;}

}

@media only screen and (min-width: 1025px){  
	#content.recipes #recipe_carousel .cntr #feed_mask {width: 940px; overflow: visible; padding: 0; margin-left: -10px;}
	
	/* Position buttons for home feed */	
	#content.recipes #recipe_carousel .carousel-control {top: 192px;}
		#content.recipes #recipe_carousel .carousel-control.left {left: -50px;}
		#content.recipes #recipe_carousel .carousel-control.right {right: -70px;}
}
