@charset "utf-8";
/* CSS Document */
input{ border:1px solid #C8CCCA;box-shadow:1px 1px 1px #dce0de;}
.login-centent{ width:950px; height:230px; margin:0 auto; background-color:#FFF;background-color:#FFF; border:1px solid #C8CCCA;box-shadow:1px 1px 1px #dce0de;}
.login-centent form1{width:500px; float:left; margin-left:60px; }
.login2 dl{ float:left; width:500px;  padding:30px 0; margin-left:100px;_margin-left:50px;}
.login2 dt{float:left; font-size:16px;padding:8px 0 4px;width:90px; text-align:right; color:#000;}
.login2 dd{ text-align:left;height:auto;padding:5px 0;}
.login2 input,select{ height:30px; line-height:30px; vertical-align:middle;color:#333333; background: #FAFAFA; font:14px Arial, Helvetica, sans-serif; background-color:#ECEDEE;}
.yanzheng input{height:30px; line-height:30px; vertical-align:middle;color:#333333; background: #FAFAFA; font:12px Arial, Helvetica, sans-serif; width:100px;}
.red{ color:#F00; margin-left:5px; margin-top:5px;}
#button{background-image:url(../images/denglu2.gif); width:101px; height:37px; border:0;}

.denglu-right{  float:right; background-image:url(../images/login-by.gif); height:230px; background-repeat:repeat-y; width:250px;}
.denglu-right p{ font-size:14px; height:30px; margin:0 auto; width:150px; margin-top:40px; text-align:center;}