html {height: 100%; width: 100%;}
body {background: #ffffff; font-family: "Courier New",Courier,monospace; overflow-y: scroll; margin: 0; padding: 0;}

.cfix {clear: both; font-size: 1px;}
.cntr {width: 480px; margin: 0 auto;}

/* Forms */
.cntr input:focus, select:focus, textarea:focus {outline: none;}
.cntr .input_text, input[type="text"] {font-family: Courier, "Courier New", monospace; font-size: 11px; line-height: 28px; color: #666666;}
.cntr .input_submit, input[type="submit"] {font-family: Courier, "Courier New", monospace; font-size: 13px; line-height: 28px; color: #ffffff; text-align: center; cursor: pointer;}
.cntr .input_submit:hover, input[type="submit"]:hover {color: #ffffff;}
input, select, option, textarea {font-size: 13px;}

.sbHolder {border: solid 1px #bebebe; font-size: 10px; font-weight: normal; height: 16px; position: relative; width: auto; -moz-box-shadow: 0 1px #888; -webkit-box-shadow: 0 1px #888; box-shadow: 0 1px #888; -webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px; background-image: linear-gradient(bottom, rgb(249,250,252) 0%, rgb(252,253,254) 100%); background-image: -o-linear-gradient(bottom, rgb(249,250,252) 0%, rgb(252,253,254) 100%); background-image: -moz-linear-gradient(bottom, rgb(249,250,252) 0%, rgb(252,253,254) 100%); background-image: -webkit-linear-gradient(bottom, rgb(249,250,252) 0%, rgb(252,253,254) 100%); background-image: -ms-linear-gradient(bottom, rgb(249,250,252) 0%, rgb(252,253,254) 100%);}
.sbSelector {display: block; height: 16px; left: 0; line-height: 16px; outline: none; overflow: hidden; position: absolute; text-indent: 10px; top: 0;}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover {color: #999999; outline: none; text-decoration: none;}
.sbToggle {background: url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/forms/select-arrow.png) 12px 6px no-repeat; display: block; height: 16px; outline: none; border: none; position: absolute; right: 0;top: 0; width: 30px;}
.sbToggle:hover {background: transparent none; outline: none;}
.sbToggleOpen {outline: none;}
.sbHolderDisabled {background-color: #3C3C3C;border: solid 1px #515151;}
.sbOptions {background-color: #fafbfd; border: solid 1px #bebebe; border-top: none; padding: 14px 0 4px 0; list-style: none; top: 14px !important; left: -1px; margin: 0; position: absolute; top: 30px; width: 200px; z-index: 1; overflow-y: auto; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.sbOptions li {padding: 0; text-indent: 4px;}
.sbOptions a {display: block; outline: none; padding: 3px 7px;}

.sbOptions li:last-child a {border-bottom: none;}
.sbOptions a:link, .sbOptions a:visited {color: #999999; text-decoration: none;}
.sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus {color: #fafbfd; background: #999999;}
.sbOptions li.last a {border-bottom: none;}
.sbOptions .sbDisabled {border-bottom: solid 1px #515151; color: #999; display: block; padding: 7px 0 7px 3px;}
.sbOptions .sbGroup {border-bottom: solid 1px #515151; color: #EBgrid52D; display: block; font-weight: bold; padding: 7px 0 7px 3px;}
.sbOptions .sbSub {padding-left: 17px;}

/* Content */
#content .cntr {width:480px; padding: 0px;}
			
/* Grids */

	section {float: left; clear: left; margin: 0 0 20px 0; width: 100%;}
	section article {}
	section.grid .cntr {padding: 0;}

	/* 1 column - full width */
	section.grid1 {}
		section.grid1 .col {float: left;}
		section.grid1 .col1{width: 460px; margin: 0;} /* Dan, this was 700 — I changed it as I thought it should be 460? */

	/* 4 columns - equal widths */
	section.grid2 {}
		section.grid2 .col {float: left;}
		section.grid2 .col1{width: 220px; margin: 0 20px 0 0;}
		section.grid2 .col2{width: 220px; margin: 0 20px 0 0;}
		section.grid2 .col3{width: 220px; margin: 0 0px 0 0; display: none;}
		section.grid2 .col4{width: 220px; margin: 0 0 0 0; display: none;}

	/* 4 columns- 3 content, 1 mpu */
	section.grid3 {}
		section.grid3 .col {float: left;}
		section.grid3 .col1{width: 220px; margin: 0 20px 0 10px;}
		section.grid3 .col2{width: 220px; margin: 0 0 0 0;}
		section.grid3 .col3{width: 190px; margin: 0 0px 0 0; display: none;}
		section.grid3 .col4{width: 300px; margin: 40px 0 0 80px;}

	/* 3 columns- 2 content, 1 mpu */
	section.grid4 {}
		section.grid4 .col {float: left;}
		section.grid4 .col1{width: 160px; margin: 0 10px 0 0;}
		section.grid4 .col2{width: 220px; margin: 0 10px 0 0;}
		section.grid4 .col3{width: 300px; margin: 0 0 0 0;}

	/* 3 columns- equal widths */		
	section.grid5 {}
		section.grid5 .col {float: left;}
		section.grid5 .col1{width: 220px; margin: 0 100px; display: block;}
		section.grid5 .col2{width: 220px; margin: 0 20px 0 0; display: none;}
		section.grid5 .col3{width: 220px; margin: 0 0 0 0; display: none;}
		
/* Nate additions to grid */

	/* 2 columns 1 content 1 aside */
	section.grid6 {}
		section.grid6 article, section.grid6 aside  {float: none;}
		section.grid6 .col1 {width:460px; margin: 0 0px 0 10px;}
		section.grid6 .col2 {width:460px; margin: 20px 0px 0 10px; padding-left:0px}

	/* 2 columns 1 content 1 aside */
	section.grid6b {}
		section.grid6b article, section.grid6b aside  {float: none;}
		section.grid6b .col1 {width:460px; margin: 0 0px 0 10px;}
		section.grid6b .col2 {width:460px; margin: 0px 0px 0 10px; padding-left:0px}

	/* 2 big content 2 small content */
	section.grid7 {}
		section.grid7 article {float: left;}
		section.grid7 .col1{width: 220px; margin: 0 20px 0 0;}
		section.grid7 .col2{display:none}
		section.grid7 .col3{display:none}
		section.grid7 .col4{width: 220px; margin: 0 0px 0 0;}

	/* 2 even 50% splits */
	section.grid8 {}
		section.grid8 article {float: none;}
		section.grid8 .col1{width: 460px; margin: 0 0px 0 0;}
		section.grid8 .col2{width: 460px; margin: 0 0px 0 0;}

/* Nate additions to grid — ENDS */
		
	/* 3 columns- equal widths - FOR CAROUSELS */		
	section.grid9 {}
		section.grid9 .col {float: left;}
		section.grid9 .col1{width: 220px; margin: 0 20px 0 10px;}
		section.grid9 .col2{width: 220px; margin: 0 0 0 0;}
		section.grid9 .col3{width: 220px; margin: 0 10px 0 0; display: block;}

/* Button links */
a.btn-red {cursor: pointer; float: left; padding: 0 10px; text-decoration: none; text-transform: uppercase; width: auto; height: 26px; line-height: 26px; font-size: 13px; text-align: center; color: #ffffff; background: #be2525; border: 1px solid #cecece; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
	a.btn-red:link {background: #be2525; color: #ffffff;}
	a.btn-red:hover {background: #d52a2a; color: #ffffff; text-decoration: none; }
	a.btn-red:active {background: #be2525; color: #ffffff; border: 1px solid #7f1c1c; -moz-box-shadow: inset 0 0 2px 2px #992222; -webkit-box-shadow: inset 0 0 2px 2px #992222; box-shadow: inset 0 0 2px 2px #992222;}
a.btn-white {cursor: pointer; float: left; padding: 0 10px; text-decoration: none; text-transform: uppercase; display: block; width: 140px; height: 26px; line-height: 26px; font-size: 13px; text-align: center; color: #be2525; background: #f5f5f5; border: 1px solid #cecece; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
	a.btn-white:link {background: #f5f5f5; color: #be2525;}
	a.btn-white:hover {background: #ffffff; color: #be2525; text-decoration: none; }
	a.btn-white:active {background: #f5f5f5; color: #be2525; border: 1px solid #a4a4a4; -moz-box-shadow: inset 0 0 2px 2px #d3d3d3; -webkit-box-shadow: inset 0 0 2px 2px #d3d3d3; box-shadow: inset 0 0 2px 2px #d3d3d3;}
	
/* Content container */
	
/* Global nav */
nav#global {margin: 0 auto; width: 100%; height: 36px; background: transparent url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/header/nav-global-bg-tile.png) 0 0 repeat-x;}
	nav#global .cntr {height: 35px; background: url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/header/nav-global-bg-m.png) 0 0 no-repeat; position: relative; width: 480px;}
	
	/* Top bar */
	nav#global #global-bar a {cursor: pointer; color: #ffffff; font-size: 9px; text-transform: uppercase; letter-spacing: 1px;}
	
	nav#global a#quick_links_toggle {display: inline; float: left; width: 31px; height: 36px; background: transparent url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/header/nav-quick-link.png) 0 -38px no-repeat; margin: 0 5px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
	nav#global a#quick_links_toggle.active {background-position: 0 0;}
		nav#global a#quick_links_toggle span {display: none;}
	
	nav#global #global_links {float: left; height: 33px; margin: 0; position: relative; left: 42px;}
		nav#global #global_links li {float: left; margin: 0; position: absolute;}
	
			/* Positioning to disregard different font rendering */
			nav#global #global_links .gn_1 {width: 85px; left: 6px;}
			nav#global #global_links .gn_2 {display: none;}
			nav#global #global_links .gn_3 {display: none;}
			nav#global #global_links .gn_4 {display: none;}
			nav#global #global_links .gn_5 {display: none;}
			nav#global #global_links .gn_6 {left: 103px;}
	
			nav#global #global_links li a {display: block; height: 28px; line-height: 22px; text-decoration: none; outline: none;} 
			nav#global #global_links li.active a {text-decoration: underline;}
			nav#global #global_links li a:hover {text-decoration: underline;}
			
	nav#global #search_toggle {float: right; width: 17px; height: 17px; background: url('http://jamieoliverprod.s3.amazonaws.com/_beta/images/header/social-icons.png') -243px 0 no-repeat; margin: 5px 7px 0 0;}
		nav#global #search_toggle:active, nav#global #search_toggle.m-toggle {background-position: -243px -20px;}
		nav#global #search_toggle span {display: none;}
		
	nav#global #member_link {display: block; height: 28px; line-height: 22px; text-decoration: none; position: absolute; left: 235px; top: 0px;}
		nav#global #member_link:active {text-decoration: underline;}
	
	
	/* Social links */
	nav#global #social_links {display: none;}
	
	#global_search {height: 28px; margin: 0; position: absolute; top: 50px; left: 10px; width: 455px; background: url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/forms/search-recipes-bg.png) no-repeat scroll 0 0 #FFFFFF;}
	#global_search .input_text {position: absolute; left: 0; display: block; width: 408px; height: 28px; font-size: 11px; line-height: 25px; padding: 0 40px 0 10px; color: #666666; float: left; border: none; background: transparent none;}
	#global_search .input_submit {position: absolute; right: -5px; width: 32px; height: 28px; float: left; border: none; background: url(http://cdn.jamieoliver.com/_beta/images/header/global_search_submit.png) 0 0 no-repeat; text-indent: -99999px; cursor: pointer; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
	#global_search .input_submit.hover {background: url(http://cdn.jamieoliver.com/_beta/images/header/global_search_submit.png) 0 -28px;}
	#global_search .input_submit.mousedown {background: url(http://cdn.jamieoliver.com/_beta/images/header/global_search_submit.png) 0 -56px;}
	
	/* Quick links */
	nav#quick_links {width: 100%; height: auto; background: #292929 url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/header/nav-quick-border.png) 0 bottom repeat-x; display: none;}
	nav#quick_links.m-toggle {display: block;}
		nav#quick_links .cntr {clear: left; width: 300px; padding: 10px 0; position: relative;}
		nav#quick_links ul {float: left; width: 145px; margin: 0 10px 0 0; padding: 10px 0;}
		nav#quick_links .ql_1 {clear: none; padding-top: 0;}
		nav#quick_links .ql_2 {clear: none; margin-right: 0; padding-top: 0;}
		nav#quick_links .ql_3 {clear: none;}
		nav#quick_links .ql_4 {clear: none; margin-right: 0;}
		nav#quick_links .ql_5 {clear: none;}
		
			nav#quick_links ul li {margin: 0 0 4px 0;}
				nav#quick_links ul li a {color: #ffffff; text-decoration: none; font-size: 10px; letter-spacing: 1px;}
				nav#quick_links ul li.active a,
				nav#quick_links ul li a:hover {color: #75bde0;}
		   	nav#quick_links ul li.heading {color: #ffffff; font-size: 13px; text-transform: uppercase; margin: 0 0 8px 0;}

		nav#quick_links #close_quick_links {display: block; position: absolute; bottom: 10px; right: 10px; color: #FFFFFF; cursor: pointer; text-transform: uppercase; font-size: 9px;}

/* Top banner */
#top_banner {display: none;}

/* JO Nav */
nav#jo {display: block; margin: 0; width: 100%; height: 95px; background: #ffffff;}
	nav#jo.m-toggle {height: 165px;}
	nav#jo.m-toggle #jo_nav {top: 85px;}
	nav#jo .cntr {position: relative;}

	nav#jo h2, nav#jo h3 {display: block; position: absolute; top: 15px; left: 130px; width: 215px; height: 35px; margin: 0; font-size: 22px; line-height: 24px;}
		nav#jo h2 a#logo, nav#jo h3 a#logo {position: absolute; top: 0; left: 0; width: 215px; height: 35px; background: #ffffff url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/header/logo-m.gif) 0 0 no-repeat; z-index: 2;}
		nav#jo h2 #title, nav#jo h3 #title {position: absolute; top: 0; left: 0; text-decoration: none; color: #4e4e4d;}


	nav#jo #site_region {position: absolute; right: 10px; top: 18px; font-family: arial, helvetica, sans-serif; display: none;}
		nav#jo #site_region .input_submit {display: none;}

		nav#jo #site_region .sbHolder {width: 60px;}
		nav#jo #site_region .sbSelector, #site_region .sbOptions {width: 60px;}


		nav#jo #global_search.m-toggle {display: block;}
		nav#jo #global_search .input_text {position: absolute; left: 0; display: block; width: 220px; height: 28px; padding: 0 10px 0 10px; float: left; border: none; background: transparent none;}
		nav#jo #global_search .input_submit{position: absolute; right: 2px; width: 32px; height: 28px; overflow: hidden; border: 0px solid #ffffff; background: transparent url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/forms/global_search_submit.png) 0 0; text-indent: -99999px; cursor: pointer;-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
		nav#jo #global_search .input_submit.hover {background: transparent url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/forms/global_search_submit.png) 0 -28px;}
		nav#jo #global_search .input_submit.mousedown {background: transparent url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/forms/global_search_submit.png) 0 -56px;}
		nav#jo #global_search #global_category {position: absolute; right: 38px; top: 4px;}
		nav#jo #global_search #global_category, nav#jo #global_search .sbHolder {display: none;}

		nav#jo #global_search .sbHolder {position: absolute; right: 37px; top: 5px; width: 118px;}
		nav#jo #global_search .sbSelector, #global_search .sbOptions {width: 118px;}

	nav#jo #jo_nav_mob {position: absolute; top: 70px; height: 25px; width: 460px; background: #24d4a6 none; left: 10px; right: 10px; color: #ffffff; font-size: 14px; text-transform: uppercase; text-decoration: none; line-height: 25px; text-align: center;}
	nav#jo #jo_nav {display: none; width: 460px; position: absolute; top: 95px; left: 10px; right: 10px; height: 40px; font-size: 11px; z-index: 1001;}
	nav#jo #jo_nav.m-toggle{display: block;}
		nav#jo #jo_nav > li {float: left; width: 460px; height: 25px; background: #4e4e4d; border-bottom: 1px solid #666666; line-height: 25px; color: #ffffff; text-indent: 10px;}
	 		nav#jo #jo_nav > li a {color: #ffffff; text-decoration: none; text-transform: uppercase; outline: none; padding-bottom: 3px; display: block; width: 460px; height: 25px;}
			nav#jo #jo_nav > li a:hover {color: #33d3a7;}
			nav#jo #jo_nav > li.active a {background: #666666; color: #ffffff;}
		nav#jo .nav_home {left: 10px;}
		nav#jo .nav_recipes {left: 75px;}
		nav#jo .nav_books_tv {left: 155px;}
		nav#jo .nav_videos {}
		nav#jo .nav_howto {top: 25px; left: 10px;}
		nav#jo .nav_news_blogs {top: 25px; left: 75px;}
		nav#jo .nav_forum {top: 25px; left: 155px;}
		nav#jo .nav_promotions {top: 25px; right: 10px;}

		/* Mega nav */
nav#meganav {}
nav#meganav.m-toggle {border-top: 1px dashed #e0e0e0;}
 	nav#meganav .cntr {width: 300px; padding: 0 10px;}
	nav#meganav h4 {font-size: 10px; color: #333333; text-transform: uppercase; margin: 0 0 15px 0;}
	nav#meganav p {font-size: 10px; line-height: 22px; color: #666666;}
	nav#meganav a {font-size: 10px; line-height: 22px; color: #666666; text-decoration: none;}
		nav#meganav a:hover {text-decoration: underline;}
	nav#meganav img {margin: 0 0 10px 0;}
		nav#meganav section {padding: 30px 0;}
			nav#meganav section .col {float: left; overflow: hidden;}
			nav#meganav section .col_1 {width: 140px; padding: 0 10px 0 0;}
				nav#meganav section .col_1 ul {float: left; width: 130px; }
				nav#meganav section .col_1 .ul_1 {}
				nav#meganav section .col_1 .ul_2 {clear: left;}
			nav#meganav section .col_2 {width: 140px; padding: 0 0 0 10px;}
			nav#meganav section .col_3 {display: block; width: 140px; margin: 10px 0 0 10px; padding: 10px 0 0 0; border-top: 1px dashed #e0e0e0;}
				nav#meganav section .col_3 img {max-width: 140px;}
			nav#meganav section .col_4 {display: none;}

		/* Nav section names */
		nav#meganav #nav_home {display: none;}
		nav#meganav #nav_recipes {}
		nav#meganav #nav_books_tv {display: none;}
		nav#meganav #nav_videos {display: none;}
		nav#meganav #nav_howto {display: none;}
		nav#meganav #nav_news_blogs {display: none;}
		nav#meganav #nav_forum {display: none;}
		nav#meganav #nav_promotions {display: none;}

		/* Toggled states */

		nav#meganav #nav_home.m-toggle {display: block;}
		nav#meganav #nav_recipes.m-toggle {display: block;}
		nav#meganav #nav_books_tv.m-toggle {display: block;}
		nav#meganav #nav_videos.m-toggle {display: block;}
		nav#meganav #nav_howto.m-toggle {display: block;}
		nav#meganav #nav_news_blogs.m-toggle {display: block;}
		nav#meganav #nav_forum.m-toggle {display: block;}
		nav#meganav #nav_promotions.m-toggle {display: block;}
	
/* Sign in */
nav#jo #member_login {display: block; position: absolute; top: -30px; right: 33px;}
	nav#jo #member_login #member_links {display: none;}

nav#jo #member_login #sign_in {display: none; position: relative; z-index: 1002; top: 40px; right: 150px; z-index: 10; width: 244px; background: #ffffff; width: 200px; height: 300px; padding: 21px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 0 5px #888888; -webkit-box-shadow: 0 0 5px #888888; box-shadow: 0 0 5px #888888;}
nav#jo #member_login #sign_in.m-toggle {display: block;}
	nav#jo #member_login #sign_in .arrow {position: absolute; top: -13px; left: 190px; width: 30px; height: 13px; background: transparent url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/forms/signin_arrow.png) 0 bottom no-repeat;}
	nav#jo #member_login #sign_in form {width: 202px;}
	nav#jo #member_login #sign_in .input_text {font-size: 11px; color: #666666; text-indent: 10px;}
	
	nav#jo #member_login #sign_in #facebook_connect {}
		nav#jo #member_login #sign_in #facebook_connect .input_submit {width: 202px; height: 37px; background: url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/forms/signin-facebook.png) 0 0 no-repeat; text-indent: -9999px; border: none; padding: none; outline: none}
		nav#jo #member_login #sign_in #facebook_connect .input_submit:hover {}
	nav#jo #member_login #sign_in p.divider {display: block; width: 202px; height: 16px; margin: 12px 0; background: url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/forms/signin-or.gif) 0 0 no-repeat;}
		nav#jo #member_login #sign_in p.divider span {display: none;}
	nav#jo #member_login #sign_in #global_sign_in {}
		nav#jo #member_login #sign_in #global_sign_in .input_text {width: 202px; height: 27px; padding: 0; margin: 0; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: inset 0 0 3px #888888; -webkit-box-shadow: inset 0 0 3px #888888; box-shadow: inset 0 0 3px #888888; }
		nav#jo #member_login #sign_in #global_sign_in p.forgot {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #b2b2b2; margin: 10px 0; letter-spacing: 1px;} 
			nav#jo #member_login #sign_in #global_sign_in p.forgot a {color: #b2b2b2;}
		nav#jo #member_login #sign_in #global_sign_in .input_submit {width: 202px; height: 37px; background: url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/forms/signin-button.png) 0 0 no-repeat; text-align: center; border: none; padding: 0; overflow: hidden; margin: 0;}	
		nav#jo #member_login #sign_in #global_sign_in .input_submit:hover {}	
		nav#jo #member_login #sign_in #global_sign_in p.sign_up {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #666666; margin: 10px 0 0 0;}
			nav#jo #member_login #sign_in #global_sign_in p.sign_up a{color: #666666;}
		nav#jo #member_login #sign_in #global_sign_in .checkbox_container {margin: 15px 0;}
			nav#jo #member_login #sign_in #global_sign_in .checkbox_container .input_checkbox {}
			nav#jo #member_login #sign_in #global_sign_in .checkbox_container p {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #666666; display: inline;}
		
/* Footer */
footer {clear: both; width: 100%; min-height: 10px; background: #ffffff url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/header/nav-jo-border.png) 0 top repeat-x; z-index: 10; margin: 0;}	
	footer .cntr {padding: 40px 0 10px 0; width: 480px; overflow: hidden;}
	
	footer .footer_top {width: 100%; padding: 0 0 20px 0; margin: 0 0 20px 0; border-bottom: 1px solid #e7e7e7; height: 80px; position: relative;}
		footer #logo_footer {float: left; width: 304px; height: 38px; background: #ffffff url(/_beta/images/header/logo.gif) 0 0 no-repeat; border: none; outline: none; margin: 0 0 0 90px;}
			footer #logo_footer span {display: none;}
		footer #top_link {display: none; float: left; width: 145px; height: 34px; background: #ffffff url(http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_beta/images/header/back-to-top.gif) 0 0 no-repeat; border: none; outline: none; position: absolute; top: -69px; right: 0; z-index: 5;}
			footer #top_link span {font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; font-weight: bold; color: #666666; float: left; line-height: 32px; margin-left: 15px;}
		footer #social_links_footer {float: right;}
		
		/* Social links */
		footer #social_links_footer {display: block; float: left; margin: 10px 0 20px 130px; }
			footer #social_links_footer li {float: left; height: 17px; margin: 0 0 0 13px;}
				footer #social_links_footer li a {height: 17px; display: block;}
					footer #social_links_footer li a span {display: none;}
					footer #social_links_footer .instagram a {width:17px; background: url('http://jamieoliverprod.s3.amazonaws.com/_beta/images/header/social-icons.png') 0 -38px no-repeat;}
						footer #social_links_footer .instagram a:hover {background-position: 0 -20px;}
					footer #social_links_footer .youtube a {width:16px; background: url('http://jamieoliverprod.s3.amazonaws.com/_beta/images/header/social-icons.png') -33px -38px no-repeat;}
						footer #social_links_footer .youtube a:hover {background-position: -33px -58px;}
					footer #social_links_footer .facebook a {width:17px; background: url('http://jamieoliverprod.s3.amazonaws.com/_beta/images/header/social-icons.png') -63px -38px no-repeat;}
						footer #social_links_footer .facebook a:hover {background-position: -63px -20px;}
					footer #social_links_footer .twitter a {width:19px; background: url('http://jamieoliverprod.s3.amazonaws.com/_beta/images/header/social-icons.png') -93px -38px no-repeat;}
						footer #social_links_footer .twitter a:hover {background-position: -93px -20px;}
					footer #social_links_footer .googleplus a {width:16px; background: url('http://jamieoliverprod.s3.amazonaws.com/_beta/images/header/social-icons.png') -128px -38px no-repeat;}
						footer #social_links_footer .googleplus a:hover {background-position: -128px -20px;}
					footer #social_links_footer .pinterest a {width:16px; background: url('http://jamieoliverprod.s3.amazonaws.com/_beta/images/header/social-icons.png') -156px -38px no-repeat;}
						footer #social_links_footer .pinterest a:hover {background-position: -156px -20px;}
					footer #social_links_footer .apps a {width:13px; background: url('http://jamieoliverprod.s3.amazonaws.com/_beta/images/header/social-icons.png') -188px -39px no-repeat;}
						footer #social_links_footer .apps a:hover {background-position: -188px -20px;}
			
	footer .footer_bottom {font-size: 10px; line-height: 22px; color: #666666; width: 480px; overflow: hidden;}
		footer h4 {font-size: 10px; color: #333333; text-transform: uppercase; margin: 0 0 5px 0;}
		footer p {font-size: 10px; line-height: 22px; color: #666666;}
		footer a {font-size: 10px; line-height: 22px; color: #666666; text-decoration: none;}
			footer a:hover {text-decoration: underline;}
		footer .col {float: left; padding: 0 0 10px 0; border-bottom: none;}
		footer .col_1 {width: 110px; margin: 0 10px 10px 0;}
		footer .col_2 {float: right; width: 110px; margin: 0 0 10px 10px;}
		footer .col_3 {width: 110px; margin: 0 10px 10px 0; border-bottom: none;}
		footer .col_4 {float: right; width: 110px; margin: 0 0 10px 10px;}
		footer .col_5 {display: none;float: right; width: 110px; height: 80px; margin: 0 0 10px 10px; position: relative; border-bottom: none;}
			footer .col_5 h4 {display: none;}
				footer .col_5 h4 span {display: none;}
			footer .col_5 img {position: absolute; left: 0px; top: 0; max-width: 140px;}
			footer .col_5 ul {display: none;}
			footer .col_5 #magazine-subscribe {border: none; background: transparent none; position: absolute; height: 75px; }	
				footer .col_5 #magazine-subscribe:link {background: transparent none;  box-shadow: 1px 1px 1px #848484;}
				footer .col_5 #magazine-subscribe:hover {background: transparent none;  box-shadow: 1px 1px 1px #848484;}
				footer .col_5 #magazine-subscribe:active {border: none; background: transparent none;  box-shadow: 1px 1px 1px #848484;}
				footer .col_5 #magazine-subscribe span {display: none;}
			
/*.leaderboard_footer_holder {display: none;}*/
.leaderboard_footer_holder { width: 300px; height: 50px; margin-left: 50%; position: fixed; bottom: 0px; z-index: 999; } 
.leaderboard_footer_holder div { margin-left: -150px; } 

#restaurants_menu_wrapper {
	height: 90px;
	padding-top: 10px;
}

ul#restaurants_menu {
	width: auto;
}

ul#restaurants_menu {
	margin-left: -240px;
}

ul#restaurants_menu li {
	float: left;
	margin: 2px;
}

ul#restaurants_menu li img {
	width: 76px;
}

#mobsearch #global_search {
	margin-left: -230px;
}