body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:250px;
  top:162px;
  width:40px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:50px;
  width:700px;
  height:30px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:706px;
  height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:35px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:50px;
  top:10px;
  width:700px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:648px;
  top:24px;
  width:53px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:711px;
  top:24px;
  width:27px;
  height:13px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:60px;
  top:14px;
  width:30px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:100px;
  top:21px;
  width:25px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:50px;
  top:80px;
  width:700px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:68px;
  top:87px;
  width:103px;
  height:15px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:48px;
  top:560px;
  width:702px;
  height:60px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:698px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:50px;
  top:120px;
  width:700px;
  height:430px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:430px;
}
#u35 {
  position:absolute;
  left:2px;
  top:207px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:213px;
  top:501px;
  width:27px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:256px;
  top:501px;
  width:40px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:323px;
  top:501px;
  width:40px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:403px;
  top:501px;
  width:27px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:463px;
  top:501px;
  width:91px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:83px;
  top:162px;
  width:611px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:594px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:611px;
  height:1px;
}
#u47 {
  position:absolute;
  left:83px;
  top:150px;
  width:53px;
  height:13px;
  color:#000000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:83px;
  top:225px;
  width:616px;
  height:120px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC';
  font-weight:200;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:368px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:372px;
  top:0px;
  width:239px;
  height:20px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:20px;
  width:372px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:368px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:372px;
  top:20px;
  width:239px;
  height:20px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:235px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:40px;
  width:372px;
  height:25px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:25px;
}
#u59 {
  position:absolute;
  left:2px;
  top:6px;
  width:368px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:372px;
  top:40px;
  width:239px;
  height:25px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:25px;
}
#u61 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:65px;
  width:372px;
  height:25px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:25px;
}
#u63 {
  position:absolute;
  left:2px;
  top:6px;
  width:368px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:372px;
  top:65px;
  width:239px;
  height:25px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:25px;
}
#u65 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:90px;
  width:372px;
  height:25px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:25px;
}
#u67 {
  position:absolute;
  left:2px;
  top:6px;
  width:368px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:372px;
  top:90px;
  width:239px;
  height:25px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:25px;
}
#u69 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
